@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  

}

/* @theme {

  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
} */



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  color: #2F2F2F;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chair {
height: 500px;
}

.logo {
  width: 130px;
}

.logo1 {
  width: 200px;
}
